.buttons {
  display: flex;
  flex-direction: row;
}
.login {
  background-color: inherit;
  color: #fb8f1d;
  margin-right: 18px;
}
.register {
  color: #fff;
  background-color: #fb8f1d;
}
.default_button.download {
  width: 10.25em;
  height: 3em;
  color: #fff;
  font-weight: 600;
  margin-right: 18px;
  font-size: 16px;
  background-color: #fb8f1d;
}
.download:hover,
.register:hover {
  border: 1px solid #fb8f1d;
  background-color: #fff;
  color: #fb8f1d;
}
.login:hover {
  border: 1px solid #fb8f1d;
  color: #fff;
  background-color: #fb8f1d;
}
