.navigation-bar__hamburger {
  display: block;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.navigation-bar__hamburger-line {
  width: 30px;
  margin: 3px 9px 3px 0;
  height: 5px;
  background: #000;
  border-radius: 5px;
}

@media screen and (min-width: 535px) {
  .navigation-bar__hamburger-line {
    width: 36px;
    margin: 3px;
  }
}
@media screen and (min-width: 1373px) {
  .navigation-bar__hamburger {
    display: none;
  }
}
