.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navigation-bar__hamburger {
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  cursor: pointer;
  z-index: 1;
}
.navigation-bar__hamburger-line {
  width: 30px;
  margin: 3px 9px 3px 0;
  height: 5px;
  background: #000;
  border-radius: 5px;
}
.logo {
  display: none;
}
.logo img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 535px) {
  .navigation-bar__hamburger-line {
    width: 36px;
    margin: 3px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .header {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .navigation-bar__hamburger {
    display: none;
  }
}
