.content-hero {
  margin-top: 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.content__text-passage {
  margin-top: 4%;
  margin-bottom: 16px;
}
.content__text h1 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
}
.content__text p {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  color: #7d7987;
  line-height: 30px;
}
.content__button-and-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 14%;
}
.content__image-and-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content__main-image {
  width: 299px;
  height: 342px;
}
@media screen and (min-width: 535px) {
  .content__main-image {
    width: 399px;
    height: 342px;
  }
}
@media screen and (min-width: 768px) {
  .content-hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .content__main-image {
    width: 387px;
    height: 330px;
  }
  .content__text h1 {
    font-size: 34px;
  }
}
@media screen and (min-width: 1010px) {
  .content__main-image {
    width: 487px;
    height: 430px;
  }
  .content-hero {
    margin-top: 55px;
  }
  .content__text-passage {
    margin-top: 4%;
    margin-bottom: 39px;
}
}
@media screen and (min-width: 1373px) {
  .content__text-passage h1 {
    font-size: 36px;
  }
  .content__text-passage p {
    font-size: 17px;
  }
  .content-hero {
    align-items: center;
  }
  .content__text {
    width: 50%;
    margin-right: 5%;
  }
  .content__main-image {
    width: 599px;
    height: 542px;
  }
}
