ul {
  padding: 0;
}
nav {
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #fefefa;
}
.nav-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  height: 100%;
}
.nav-ul li a {
  display: inline-block;
  color: #b8becd;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  padding: 10px 20px;
}
.menu__item:hover {
  color: #202336;
}
.menu__item:active {
  color: #202336;
}
.menu__item:focus {
  color: #202336;
}
nav.show .nav-ul .ul {
  display: block;
}
@media screen and (min-width: 990px) {
  nav {
    left: 8%;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    display: flex;
    width: auto;
    left: 0;
    top: 0;
    position: relative;
    background-color: transparent;
    height: auto;
  }
  .nav-ul {
    flex-direction: row;
    margin-left: 0;
    position: relative;
    height: 0;
  }
  #first-link {
    padding-left: 0;
  }
  #last-link {
    padding-right: 0;
  }
}
