body {
  margin: 0;
  padding: 0;
}
header {
  margin-bottom: 50px;
}
.container__first {
  padding: 20px;
}
.container_second {
  padding: 40px 20px 20px 20px;
}
.navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: none;
}
.logo img {
  width: 100%;
  height: auto;
}
ul {
  padding: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 8%;
  left: 0;
}
.nav-ul {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.nav-ul li a {
  display: inline-block;
  color: #b8becd;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  padding: 10px 20px;
}
.menu__item.active {
  color: #202336;
}
.menu__item:hover {
  color: #202336;
}
.navigation-bar__hamburger {
  display: block;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.navigation-bar__hamburger-line {
  width: 30px;
  margin: 3px 9px 3px 0;
  height: 5px;
  background: #000;
  border-radius: 5px;
}
.nav-ul.show {
  display: flex;
  top: 100%;
  width: 100%;
  background: #fff;
}
.buttons {
  display: flex;
  flex-direction: row;
}
.login-button {
  border: 1px solid #fb8f1d;
  width: 8.25em;
  background-color: inherit;
  color: #fb8f1d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  margin-right: 18px;
  outline: none;
  height: 2.75em;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}
.register-button {
  border: 1px solid #fb8f1d;
  width: 8.25em;
  height: 2.75em;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
  outline: none;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  background-color: #fb8f1d;
  border-radius: 8px;
  cursor: pointer;
}
.content-hero {
  margin-top: 55px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.small-element-1 {
  width: 19.96px;
  height: 20px;
  margin-left: 45px;
}
.content__text-passage {
  margin-top: 4%;
  margin-bottom: 39px;
}
.content__button-and-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 14%;
}
.small-element-2 {
  margin-top: 20px;
  width: 20.05px;
  height: 20px;
  transform: rotate(20.42deg);
}
.content__text h1 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}
.content__text p {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  color: #7d7987;
  line-height: 30px;
}
.content__download-button {
  border: 1px solid #fb8f1d;
  width: 10.25em;
  height: 3em;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
  outline: none;
  color: #fff;
  font-weight: 600;
  margin-right: 18px;
  font-size: 16px;
  background-color: #fb8f1d;
  border-radius: 8px;
  cursor: pointer;
}
.content__image-and-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content__main-image {
  width: 299px;
  height: 342px;
}
.small-element-3 {
  width: 16.04px;
  margin-top: 25px;
  height: 16px;
  transform: rotate(9.99deg);
  margin-left: 15px;
}
.second-page {
  background-color: #f8f8f8;
  width: 100vw;
}
.second-content {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.second-page h1 {
  text-align: center;
  font-size: 36px;
}
.author {
  padding-left: 30px;
}
.author-photo {
  height: 388px;
  margin-bottom: 15px;
  margin-top: 5px;
}
.testimonial {
  display: flex;
  flex-direction: column;
}
.stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.star {
  width: 23px;
  height: 25px;
  margin: 7px;
}
.quotation {
  text-align: left;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding: 30px;
}
.author__name-surname {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
}
.author__foundation {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.third_page {
  margin-bottom: 10%;
}
.container-third {
  padding: 5% 13%;
}
.element5 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.element6 {
  padding: 8% 0 0 18%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.element6 img {
  width: 19.96px;
  height: 20px;
}
.element5 img {
  width: 20.05px;
  height: 20px;
  padding-right: 25%;
}
.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.panel h1 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 0;
}
.panel a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  color: #fb8f1d;
  text-decoration: none;
}
.blogs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.blog {
  width: 261px;
  height: 446px;
  margin-bottom: 60px;
}
.blog_img img {
  display: block;
}
.blog h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
}
.blog p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 40px;
}
.blog a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #fb8f1d;
  text-decoration: none;
}
hr {
  width: 100%;
  height: 0.6px;
  color: #c4c4c4;
}
footer {
  background-color: #f8f8f8;
  padding: 20px 10%;
}
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.copyright p {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #848484;
  line-height: 28px;
}
.copyright_logo {
  width: 44px;
  height: 44px;
}
.social_media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social_media img {
  margin: 15px;
  cursor: pointer;
}

.register-button:hover,
.content__download-button:hover {
  border: 1px solid #fb8f1d;
  background-color: #fff;
  color: #fb8f1d;
}
.login-button:hover {
  border: 1px solid #fb8f1d;
  color: #fff;
  background-color: #fb8f1d;
}

@media screen and (min-width: 439px) {
  .copyright p {
    font-size: 17px;
  }
}
@media screen and (min-width: 535px) {
  .content__main-image {
    width: 399px;
    height: 342px;
  }
  .navigation-bar__hamburger-line {
    width: 36px;
    margin: 3px;
  }
}
@media screen and (min-width: 768px) {
  header {
    height: 100vh;
    display: contents;
  }
  .blogs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .third_page {
    background-image: url(./images/element7.svg);
    background-repeat: no-repeat;
    background-position: left 7% top 65%;
  }
  .panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
  }
  .panel h1 {
    margin-bottom: 0.83em;
    font-size: 36px;
  }
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .content-hero {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .content__main-image {
    width: 487px;
    height: 430px;
  }
  .content__text {
    width: 45%;
  }
  .image-and-element {
    width: 35%;
  }
}
@media screen and (min-width: 990px) {
  .second-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    left: 8%;
  }
  .copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .stars {
    justify-content: flex-start;
  }
  .quotation {
    padding: 0;
    line-height: 36px;
    font-size: 24px;
  }
  .testimonial {
    width: 50%;
  }
  .author {
    padding-left: 0;
  }
  .second-page h1 {
    text-align: left;
  }
  .author-photo {
    order: 1;
    width: 384px;
    height: 491px;
    margin-bottom: 0;
  }
  .container_second {
    padding: 20px 130px;
  }
}
@media screen and (min-width: 1010px) {
  .container__first {
    padding: 20px 100px;
  }
  .content__main-image {
    width: 487px;
    height: 430px;
  }
}

@media screen and (min-width: 1373px) {
  .third_page {
    height: 100vh;
  }
  .blog {
    margin-bottom: 0;
  }
  .content__text-passage h1 {
    font-size: 36px;
  }
  .content__text-passage p {
    font-size: 17px;
  }
  .navigation-bar__hamburger {
    display: none;
  }
  .container_second {
    padding: 20px 281px;
  }
  .second-page {
    height: 100vh;
    background-image: url(./images/element4.svg);
    background-repeat: no-repeat;
    background-position: left 120px center;
  }
  nav {
    left: 0;
    position: relative;
  }
  .nav-ul {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    position: relative;
  }
  #first-link {
    padding-left: 0;
  }
  #last-link {
    padding-right: 0;
  }
  .container__first {
    padding: 20px 197px;
  }
  .content-hero {
    align-items: center;
  }
  .content__text {
    width: 50%;
    margin-right: 5%;
  }
  .content__main-image {
    width: 599px;
    height: 542px;
  }
}
